<html>
    <head>
        <meta charset="utf-8">
        <title>Robot, Lion, Eagle</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="/assets/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
        
    <body>
       <%= yield %>
       
	   <script>
			$("#robot").click(function() {
				$("#robot-selected").removeClass("hidden");
				$(this).addClass("active");
				$("#lion-selected").addClass("hidden");
				$("#eagle-selected").addClass("hidden");
				$("#lion").removeClass("active");
				$("#eagle").removeClass("active");
			});
			$("#lion").click(function() {
				$("#lion-selected").removeClass("hidden");
				$(this).addClass("active");
				$("#robot-selected").addClass("hidden");
				$("#eagle-selected").addClass("hidden");
				$("#eagle").removeClass("active");
				$("#robot").removeClass("active");
			});
			$("#eagle").click(function() {
				$("#eagle-selected").removeClass("hidden");
				$(this).toggleClass("active");
				$("#lion-selected").addClass("hidden");
				$("#robot-selected").addClass("hidden");
				$("#lion").removeClass("active");
				$("#robot").removeClass("active");
			});
			$("#clear-selection").click(function() {
				$("#eagle-selected").addClass("hidden");
				$("#lion-selected").addClass("hidden");
				$("#robot-selected").addClass("hidden");
				$("#lion").removeClass("active");
				$("#robot").removeClass("active");
				$("#eagle").removeClass("active");
			});
		</script>
    </body>
</html>